
h1 {
    background-color: beige;
    padding: 0;
    margin: 0;
    font-family: Times New Roman;
    font-size: 20px;

}

div {
    padding: 25px;
    margin: 25px;
  }

h2 {
    background-color: beige;
    padding: 0;
    display: right;
    margin-right: auto;
}

body {
    background-color: beige;
    padding: 0;
    margin: 0;
    font-family: Times New Roman;
    font-size: 20px;
    line-height: 150%;
    text-anchor: black;
}

img {
    float: center;
}


#ul {
    text-align: left;
    font-size: 20px;
    list-style-position: inside;
}

p {
    text-align: left;
    font-size: 20px;
    font-weight: normal;
}

#relative {
    position: relative;
    height: 200px;
    padding: 20px;
    margin: 20px;
    text-align: left;
}

div.gallery {
    margin: 10px;
    border: 5px solid green;
    float: left;
    width: 200px;
}

.box{
    position: relative;
    width: 100px;
    height: 100px;
}

.box-1 {
    top: 15px;
    left: 15px;
}

.box-2 {
    bottom: 15px;
    left: 15px;
}

.box-3 {
    top: 15px;
    right: 15px;
    bottom: 15px;
}

.box-4 {
    top: 15px;
    left: 15px;
    bottom: 15px;

}

.blue{
    background: blue

}

.green{
    background: green

}

.red{
    background: red

}

#links {
    border: 1px solid lightgray;
    height: 8vh;
}